{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}


    <a target="_blank" class="btn btn-light mb-1" href="{{ path('app_invoice_admin', {'id_order': order.id}) }}">Facture</a>
    <h3>Commande n°{{ order.id }}</h3>
    {{ include('admin/state.html.twig', {field: {'value': order.state}}) }}
    <span class="d-block mt-3">Passée le : {{ order.createdAt | date('d/m/Y') }}</span>
    <span class="d-block mt-3">Stripe session Id : {{ order.stripeSessionId }}</span>

    <div class="row my-4">

        <div class="col-md-6">
            <strong>Adresse de livraison</strong>
            {{ order.delivery|raw }}
        </div>

        <div class="col-md-6">
            <strong>Transporteur</strong>
            {{ order.carrierName }}
        </div>

    </div>

    <strong>Contenu de la commande :</strong><br>
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Illustration</th>
            <th scope="col">Nom de produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire HT</th>
            <th scope="col">TVA</th>
            <th scope="col">Total TTC</th>
        </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td><img src="{{ asset('uploads/' ~ product.productillustration) }}" width="100px" alt="illustration"></td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productQuantity }}</td>
                    <td>{{ product.productPrice|price }}</td>
                    <td>{{ product.productTva }}%</td>
                    <td>{{ product.productPriceWt | price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>{{ order.carrierName }}</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td>{{ order.carrierPrice|price }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-right fs-5">
        <strong>Total HT : </strong> {{ (order.totalWt - order.totalTva)|price }}<br>
        <strong>Total TVA : </strong> {{ order.totalTva|price }}<br>
        <strong>Total TTC : </strong> {{ order.totalWt|price }}
    </div>


{% endblock %}